@page
@model Cont.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<title>About</title>
<link rel="stylesheet" href="./css/About.css" />
<div class="contain">
<div class="main">
    <span class="part1">
    <h1>ABOUT US</h1>
                <p>Welcome to <strong> Cont. </strong>, your gateway to exploring the rich and diverse traditions, customs, and histories of cultures around the world. Our website delves into the heart of each country's unique identity, offering insightful articles, stunning visuals, and engaging stories that celebrate cultural diversity. From ancient rituals to modern-day practices, we aim to highlight the customs, languages, festivals, food, and art that make each culture distinct. Join us on a journey around the globe as we celebrate the beauty and complexity of human heritage and share the shared connections that unite us all.</p>
            </span>
<span class="part2"><img class="image1" src="./Icons/Cultural-Diversity-Accomodation.jpg" /></span>
</div>
</div>
<div class="contain2">
    <h1>YOUR GUIDE TO A WORLD OF CULTURES</h1>
</div>
<div class="contain3">
    <h1>EMBARK ON A JOURNEY OF CULTURAL DISCOVERY</h1>
    <p>
        Whether you're a traveler seeking inspiration, a student learning about global traditions, or simply curious about the world beyond your doorstep, Cultural Horizons is here to guide your journey. Through articles, videos, interviews, and community interactions, we aim to inspire curiosity and appreciation for the vast cultural mosaic of our planet.

        Join us as we explore, learn, and celebrate the incredible cultures that make our world so beautifully diverse. Together, we can create a community where understanding and respect transcend borders.

        Discover the world, one culture at a time.
    </p>
</div>
