@page
@model ErrorModel
@{
    ViewData["Title"] = "Cultures";
}
<link rel="stylesheet" href="./css/Cultures.css" />
<div class="main">
<h1>Cultures</h1>
<div class="contain">
        <a asp-area="" asp-page="/Egypt">
        <span class="count">
    <h2>Egypt</h2>
    <img src="./Icons/Flags2/0.png" />
@*     <button>View</button> *@

</span>
        </a>
        <a asp-area="" asp-page="/France">
    <span class="count">
        <h2>France</h2>
        <img src="./Icons/Flags2/1.png" />
@*         <button>View</button> *@

    </span>
        </a>
        <a asp-area="" asp-page="/Saudi Arabia">
    <span class="count">
        <h2>Saudi Arabia</h2>
        <img src="./Icons/Flags2/2.png" />
@*         <button>View</button> *@

    </span>
        </a>
        <a asp-area="" asp-page="/Usa">
    <span class="count">
        <h2>Usa</h2>
        <img src="./Icons/Flags2/3.png" />
@*         <button>View</button> *@

    </span>
        </a>
        <a asp-area="" asp-page="/Canada">
    <span class="count">
        <h2>Canada</h2>
        <img src="./Icons/Flags2/4.png" />
@*         <button>View</button> *@

    </span>
        </a>
        <a asp-area="" asp-page="/China">
    <span class="count">
        <h2>China</h2>
        <img src="./Icons/Flags2/5.png" />
@*         <button>View</button> *@

    </span>
        </a>
</div>
</div>