@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="./css/Index.css" />
<div class="body">
<div class="part1">
    <span class="lpart1">
        <h1>Start your journey today.</h1>
        <p>Discover the vibrant tapestry of cultures that make up our world! Whether you’re a seasoned traveler, a curious learner, or simply someone who loves exploring diverse traditions, Global Culture Connect is your gateway to the unique stories, customs, and histories of countries around the globe.</p>
            <a class="button" asp-area="" asp-page="/Cultures"><button>Explore</button></a>
    </span>
    <span class="rpart1">
        <img src="./Icons/93c443cc429c053e920c2b28cd8f3e1b-removebg-preview.png">
    </span>
</div>
<div class="pagesecond">
    <div class="partone">
        <h1>About Us</h1>
        <p>Welcome to <strong> Cont. </strong>, your gateway to exploring the rich and diverse traditions, customs, and histories of cultures around the world. Our website delves into the heart of each country's unique identity, offering insightful articles, stunning visuals, and engaging stories that celebrate cultural diversity. From ancient rituals to modern-day practices, we aim to highlight the customs, languages, festivals, food, and art that make each culture distinct. Join us on a journey around the globe as we celebrate the beauty and complexity of human heritage and share the shared connections that unite us all.</p>
    </div>
    <div class="rpart2">
        <img src="./Icons/istockphoto-1394476861-612x612-removebg-preview.png">
    </div>
</div>
<div class="pagethird">
            <h1>EMBARK ON A JOURNEY THROUGH GLOBAL TRADITIONS.</h1>
</div>

</div>