@page
@model Cont.Pages.Saudi_ArabiaModel
@{
	ViewData["Title"] = "Saudia Arabia";
}
<link rel="stylesheet" href="./css/Saudi Arabia.css" />
<div class="part1">

	<div class="pi">
		<h1>SAUDI ARABIA</h1>
		<p>
			<strong>Saudi Arabia</strong>, officially the Kingdom of Saudi Arabia, is the largest country in the Middle East, occupying most of the Arabian Peninsula. Bordered by Jordan, Iraq, and Kuwait to the north, Qatar, Bahrain, and the United Arab Emirates to the east, Oman to the southeast, and Yemen to the south, it also has coastlines along the Red Sea to the west and the Arabian Gulf to the east. Riyadh, the capital and largest city, is a hub for commerce, culture, and politics, while other major cities like Jeddah and Mecca hold historical and religious significance. Saudi Arabia is the birthplace of Islam and home to its two holiest cities, Mecca and Medina, which attract millions of pilgrims annually for Hajj and Umrah. With vast reserves of oil and gas, the country is a global leader in energy production and has used its wealth to modernize infrastructure and invest in initiatives like Vision 2030, aimed at diversifying the economy. Its landscape ranges from arid deserts, including the Rub' al Khali (Empty Quarter), to mountain ranges and coastal areas. Saudi Arabia’s cultural heritage, shaped by Bedouin traditions and Islamic history, alongside its growing modernization, positions it as a significant player in the Arab world and beyond.
		</p>

	</div>
	<span class="image"><img src="./Icons/Saudi Arabia/1.png" /></span>

</div>
<div class="part2">
	<h1>THE KAABA</h1>

</div>
<div class="part3">
	<span class="image2"><img src="./Icons/Saudi Arabia/2.png" /></span>
	<div class="pi2">
		<h1>EL KAABA</h1>
		<p>
			<strong>EL Kaaba</strong>, located in the holy city of Mecca in Saudi Arabia, is one of the most sacred sites in Islam. It is a cube-shaped structure, covered with a black silk cloth known as the Kiswah, and sits at the center of the Masjid al-Haram, the largest mosque in the world. Every year, millions of Muslims from around the globe travel to Mecca to perform the Hajj pilgrimage, during which they walk around the Kaaba seven times in a ritual known as Tawaf. The Kaaba is believed to have been built by the Prophet Ibrahim (Abraham) and his son Ismail, according to Islamic tradition, and it represents the spiritual heart of Islam. The structure is made of granite and measures about 12 meters (39 feet) in height, with each side facing one of the cardinal directions. Inside, the Kaaba contains a simple stone floor and is typically empty, symbolizing purity and devotion. The Black Stone, a revered relic, is embedded in one corner of the Kaaba and is kissed by many pilgrims as a sign of reverence. The Kaaba’s significance goes beyond its physical presence; it is considered the direction (Qibla) toward which all Muslims pray, uniting them in their worship of one God.
		</p>
	</div>
</div>