@page
@model Cont.Pages.UsaModel
@{
	ViewData["Title"] = "USA";
}
<link rel="stylesheet" href="./css/Us.css" />
<div class="part1">

	<div class="pi">
		<h1>THE UNITED STATES</h1>
		<p>
			<strong>The United States</strong>, officially known as the United States of America (USA), is a federal republic located primarily in North America, bordered by Canada to the north, Mexico to the south, the Atlantic Ocean to the east, and the Pacific Ocean to the west. It consists of 50 states, a federal district (Washington, D.C., the capital), and several territories. With a population of over 330 million people, the U.S. is the third most populous country in the world and a global leader in politics, economics, and culture. Major cities like New York, Los Angeles, and Chicago are known for their cultural, financial, and entertainment influence. The U.S. is recognized for its diverse landscapes, ranging from the beaches of Florida to the mountains of Colorado and the deserts of Arizona. Its history, shaped by European colonization, independence, and expansion, has made it a land of opportunity and innovation. The U.S. is home to some of the world’s top universities, technological advancements, and multinational corporations. As a founding member of key international organizations, such as the United Nations and NATO, the United States plays a significant role in global affairs. The country’s democratic system, combined with its cultural diversity and economic power, makes it a central figure on the world stage.
		</p>

	</div>
	<span class="image"><img src="./Icons/Us/1.png" /></span>

</div>
<div class="part2">
	<h1>THE STATUE OF LIBERTY</h1>

</div>
<div class="part3">
	<span class="image2"><img src="./Icons/Us/2.png" /></span>
	<div class="pi2">
		<h1>STATUE OF LIBERTY</h1>
		<p>
			<strong>The Statue of Liberty</strong>, an iconic symbol of freedom and democracy, stands on Liberty Island in New York Harbor, welcoming millions of visitors each year. Gifted to the United States by France in 1886 to commemorate the centennial of American independence, the statue was designed by French sculptor Frédéric Auguste Bartholdi and built by Gustave Eiffel, the engineer behind the Eiffel Tower. Standing at 46 meters (151 feet) tall, with the pedestal and foundation bringing its total height to 93 meters (305 feet), the statue holds a torch in one hand and a tablet inscribed with the date of the U.S. Declaration of Independence in the other. The Statue of Liberty represents the ideals of liberty, democracy, and the pursuit of happiness, and is especially meaningful for immigrants arriving in America through Ellis Island, where it was often their first sight of the country. Over time, it has become a symbol of hope and freedom worldwide. As a National Monument, the statue continues to attract tourists and serves as a powerful reminder of the values that shaped the nation.
		</p>
	</div>
</div>